/* _____________________________header_____________________________ */

.Q_DMainGorLine {
  width: 100%;
  align-items: center;
  position: relative;
  z-index: 12;

  box-shadow: 3px 4px 9px 1px #192966cc;
}

.Q_MobileIndexRect,
.Q_MobileRect {
  display: none;
}

/* _____________________________index page_____________________________ */

.Q_MobileIndexRect {
  display: none;
}
.Q_M2Coco {
  display: none;
}
.Q_D1BGM {
  position: relative;
  height: 110vh;
  overflow: hidden;
  top: -1.25rem;
}
.Q_D1BGM video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  pointer-events: none;
}
video::-webkit-media-controls {
  display: none;
}

.Q_D1Coco {
  width: 28%;
  height: auto;
  margin-right: 5%;
}

.Q_D1Green {
  width: 28%;
  height: 100%;
  padding-top: 2%;
  margin-right: 5%;
}

.Q_Logo1 {
  width: 16%;
  height: 100%;
  margin-top: -5%;
}

/* _____________________________archive_____________________________ */

.Q_D1Purple {
  position: absolute;
  display: block;
  width: 20%;
  height: auto;
  bottom: -20%;
  left: -1%;
}

/* _____________________________interact_____________________________ */

.Q_D3Green {
  position: absolute;
  display: block;
  width: 50%;
  height: auto;
  margin: -30% -5% 0 70%;
  z-index: 12;
}

.Q_D2Burger {
  position: absolute;
  display: block;
  width: 80%;
  height: auto;
  margin: -8% 0 0 -12%;
  z-index: 12;
}

/* _____________________________about us_____________________________ */

.Q_MQCodeVK,
.Q_MQCodeINST,
.Q_MQCodeTG,
.Q_MAboutGL,
.Q_MAboutVLL,
.Q_MAboutVLR {
  display: none;
}
.Q_D3Bubles {
  position: absolute;
  z-index: 10;
  left: 6%;
  top: -18%;
  width: 20%;
}

.Q_D2Red {
  position: absolute;
  z-index: 10;
  right: 5%;
  top: -16%;
  width: 26%;
}

.Q_D2Orange {
  position: absolute;
  z-index: 10;
  left: 5%;
  bottom: -25%;
  width: 24%;
}

.Q_D4Bubles {
  position: absolute;
  z-index: 10;
  right: 2%;
  bottom: -30%;
  width: 32%;
}

.Q_D2Bubles {
  position: absolute;
  z-index: 12;
  left: -18%;
  bottom: -56%;
  width: 34%;
}
.Q_0HorizontalLine {
  width: 100%;
  box-shadow: -2.77px -3.69px 8.31px 0.92px #192966cc;
  z-index: 15;
  position: relative;
  transform: scaleY(-1);
}
.Q_02HorizontalLine {
  width: 100%;
  box-shadow: -2.77px -3.69px 8.31px 0.92px #192966cc;
  z-index: 15;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: scaleY(-1);
}

.Q_DQCodeVK {
  box-shadow: 5.51px 5.51px 5.51px 0px #00000040;
  border-radius: 33px;
}
.Q_DQCodeINST {
  box-shadow: 5.51px 5.51px 5.51px 0px #00000040;
  border-radius: 33px;
}
.Q_DQCodeTG {
  box-shadow: 5.51px 5.51px 5.51px 0px #00000040;
  border-radius: 33px;
}

.Q_D2Shuka {
  position: absolute;
  width: 34%;
  right: 0;
  top: -38%;
  z-index: 15;
}
.Q_D2Clown {
  position: absolute;
  width: 48%;
  z-index: 15;

  left: -10%;
  bottom: -44%;
}

.Q_D1Bubles {
  position: absolute;
  z-index: 15;
  right: -12%;
  bottom: -38%;
  width: 30%;
}
.Q_D2GorizontalLine {
  position: relative;
  width: 100%;
  z-index: 15;
  bottom: 0;
}

/* _____________________________articles_____________________________ */

.Q_Lemon1 {
  position: absolute;
  top: 16%;
  left: -5%;
}
.Q_Lemon2 {
  position: absolute;
  top: -10%;
  right: 15%;
}
.Q_Lemon3 {
  position: absolute;
  top: 64%;
  right: 2%;
}

/* _____________________________test_____________________________ */

.Q_MTestHLine {
  display: none;
}
.Q_DTestHLine {
  width: 100%;
  margin: 0 auto;
  padding: 1.5%;

  background: linear-gradient(
    180deg,
    #ffffff 41.83%,
    #7390f7 80.77%,
    #274aca 96.15%
  );
  box-shadow: 3.74px 4.98px 11.22px 1.25px #192966cc;
  z-index: 100;
}

.Q_TestLemon1,
.Q_TestLemon2,
.Q_TestLemon3 {
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 100;
  pointer-events: none;
}

.Q_TestLemon1 {
  bottom: -70%;
  left: -52%;
  width: 120%;
  height: 120%;
}

.Q_TestLemon2 {
  top: -50%;
  left: -10%;
  width: 80%;
  height: 80%;
}

.Q_TestLemon3 {
  bottom: -35%;
  right: -35%;
  width: 80%;
  height: 80%;
}
