/* _____________________________header_____________________________ */

.MobileBurger,
.M_MLettersPics,
.M_Names {
  display: none;
}
.MainMenuNav {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
a.M_MainMenuDesktopMolecule,
a.M_MainMenuDesktopMoleculeInteract {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% 100%;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;

  font-size: 40px;
  font-weight: 400;
  margin-top: -2px;
}

a.M_MainMenuDesktopMolecule {
  width: 100%;
}

a.M_MainMenuDesktopMoleculeInteract,
a.M_MainMenuDesktopMolecule {
  background: linear-gradient(
    180deg,
    #ffffff 41.83%,
    #7390f7 80.77%,
    #274aca 96.15%
  );
  border-radius: 0 0 25px 25px;
  box-shadow: 3px 4px 9px 1px #192966cc;
  cursor: pointer;
}

/* _____________________________index page, archive page_____________________________ */

.M_DArchiveIcon figcaption {
  font-size: 40px;
}
.M_DBigIcon,
.M_DArchiveIcon {
  text-align: center;
  z-index: 12;
}
.M_DBigIcon a,
.M_DArchiveIcon a {
  text-decoration: none;
  display: block;
}
.M_DBigIcon figcaption,
.M_DArchiveIcon figcaption {
  font-size: 22px;
  font-weight: 400;
  color: white;
  text-decoration: none;
}

.M_IndexCalendar {
  background-image: url(../../images/Q.CALENDARS.webp);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left top;
  width: 60%;
  aspect-ratio: 1.685/1;
  padding-top: 2%;
  box-sizing: border-box;
  text-align: center;
  box-shadow: 12px 12.62px 16.83px 0px #3921d6b2;
  text-decoration: none;
}
.M_IndexCalendar h1 {
  color: #0037ff;
  font-weight: 400;
  font-size: 40px;
  font-family: 'arial narrow';
  text-align: center;
}
.our-gallery {
  width: 100%;
  margin-bottom: 5%;
}
.M_FooterContact {
  width: 90%;
  position: relative;
  top: 5%;
  left: 5%;
  display: flex;
  justify-content: space-between;
}

/* _____________________________footer_____________________________ */

#my-form h1 {
  color: #fff;
  margin-bottom: 6%;
  font-size: 50px;
  font-weight: 700;
  font-family: 'arial narrow';
}
#my-form input {
  font-family: 'arial narrow';
  background-color: white;
  width: 60%;
  height: 40%;
  border-radius: 14px;
  margin-right: 2%;
  border: none;
  padding: 0 20px;
  outline: none;
  font-weight: 400;
  font-size: 30px;
  box-sizing: border-box;
  box-shadow: 7px 7px 7px 0px #0037ff4f;
}
#my-form input::placeholder {
  color: #0037ff;
  opacity: 0.8;
}
#my-form-button {
  font-family: 'arial narrow';
  background-color: #0037ff;
  color: white;
  opacity: 0.8;
  width: 36%;
  height: 40%;
  border-radius: 14px;
  font-size: 30px;
  border: none;
  cursor: pointer;
  font-weight: 400;
  box-shadow: 7px 7px 7px 0px #0037ff4f;
}
#my-form-status {
  color: #0037ff;
  font-size: 18px;
  font-weight: 500;
  margin-top: 3%;
}
.M_FooterInfo {
  width: 90%;
  position: relative;
  top: 15%;
  left: 5%;
  display: flex;
  justify-content: space-between;
}
.M_FooterInfo h1 {
  font-size: 40px;
  font-weight: 700;
  color: #0037ff;
  margin-bottom: 8%;
}
.M_FooterInfo p {
  font-size: 25px;
  font-family: 'arial narrow italic';
  font-weight: 700;
  color: #0037ff;
}

.line-left,
.line-right {
  position: fixed;
  top: 0;
  height: 100%;
  width: 3%;
  z-index: 10;
}

.line-left {
  left: -0.6%;
}

.line-right {
  right: -1%;
}

/* _____________________________interactive_____________________________ */

.M_DInteractiveIcon figcaption {
  margin-top: -2%;
  margin-bottom: 10%;
  font-size: 32px;
  color: white;
}
.M_DInteractiveIcon a {
  text-decoration: none;
  display: block;
  margin-top: -10%;
  text-align: center;
}
.M_DInteractiveIcon {
  position: relative;
  padding-bottom: 5%;
}

/* _____________________________about us_____________________________ */

.AboutUsSocials {
  display: flex;
  width: 100%;
}

a.M_TeamLinks {
  padding: 2% 0 4%;
  background: linear-gradient(
    0deg,
    #ffffff 41.83%,
    #7390f7 80.77%,
    #274aca 96.15%
  );
  border-radius: 25px 25px 0 0;
}
a.M_TeamLinks,
a.M_AboutUsMenuLinks {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% 100%;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  text-align: center;
  position: relative;
  box-shadow: 2.77px 3.7px 8.32px 0.92px #192966cc;
  cursor: pointer;
  color: #0037ff;
  font-size: 27px;
  font-weight: 400;
}

a.M_AboutUsMenuLinks {
  padding: 1% 0 3%;
  background: linear-gradient(
    180deg,
    #ffffff 41.83%,
    #7390f7 80.77%,
    #274aca 96.15%
  );
  border-radius: 0 0 25px 25px;
}

a.M_AboutUsMenuLinks img {
  width: 32%;
  position: absolute;
  margin-top: 40%;
  left: 50%;
  transform: translateX(-50%);
}

.M_TeamStash h2 {
  font-size: 40px;
  font-family: 'arial narrow';
  font-weight: 400;
  color: #0037ff;
  text-align: center;
  padding: 3% 0 4%;
}

.M_TeamStash {
  flex-direction: row;
  display: flex;
  justify-content: center;
  gap: 1%;
  margin: -7% auto;
}

/* _____________________________articles_____________________________ */

.M_D1ArticlesWindows,
.M_D2ArticlesWindows,
.M_D3ArticlesWindows,
.M_D4ArticlesWindows,
.M_D5ArticlesWindows,
.M_D6ArticlesWindows,
.M_BigArticle1,
.M_BigArticle2,
.M_BigArticle3,
.M_BigArticle4,
.M_BigArticle5,
.M_D8ArticlesWindows,
.M_D9ArticlesWindows,
.M_D10ArticlesWindows,
.M_D11ArticlesWindows,
.M_D12ArticlesWindows,
.M_D13ArticlesWindows,
.M_D14ArticlesWindows,
.M_D15ArticlesWindows,
.M_D16ArticlesWindows,
.M_D17ArticlesWindows,
.M_D18ArticlesWindows,
.M_D19ArticlesWindows,
.M_D20ArticlesWindows,
.M_D21ArticlesWindows,
.M_D22ArticlesWindows {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2% 12% 2% 0;

  text-align: center;
  align-items: center;

  box-shadow: 5px 5px 5px 0px #0037ff;
  background-color: #dedcff;
  border-radius: 12px;

  margin-bottom: 5%;
}
.M_D2ArticlesWindows,
.M_D3ArticlesWindows,
.M_D4ArticlesWindows,
.M_D5ArticlesWindows,
.M_D6ArticlesWindows,
.M_BigArticle1,
.M_BigArticle2,
.M_BigArticle3,
.M_BigArticle4,
.M_BigArticle5,
.M_D8ArticlesWindows,
.M_D9ArticlesWindows,
.M_D10ArticlesWindows,
.M_D11ArticlesWindows,
.M_D12ArticlesWindows,
.M_D13ArticlesWindows,
.M_D14ArticlesWindows,
.M_D15ArticlesWindows,
.M_D16ArticlesWindows,
.M_D17ArticlesWindows,
.M_D18ArticlesWindows,
.M_D19ArticlesWindows,
.M_D20ArticlesWindows,
.M_D21ArticlesWindows,
.M_D22ArticlesWindows {
  cursor: pointer;
}
.M_D1ArticlesWindows h5,
.M_D2ArticlesWindows h5,
.M_D3ArticlesWindows h5,
.M_D4ArticlesWindows h5,
.M_D5ArticlesWindows h5,
.M_D6ArticlesWindows h5,
.M_BigArticle1 h5,
.M_BigArticle2 h5,
.M_BigArticle3 h5,
.M_BigArticle4 h5,
.M_BigArticle5 h5,
.M_D8ArticlesWindows h5,
.M_D9ArticlesWindows h5,
.M_D10ArticlesWindows h5,
.M_D11ArticlesWindows h5,
.M_D12ArticlesWindows h5,
.M_D13ArticlesWindows h5,
.M_D14ArticlesWindows h5,
.M_D15ArticlesWindows h5,
.M_D16ArticlesWindows h5,
.M_D17ArticlesWindows h5,
.M_D18ArticlesWindows h5,
.M_D19ArticlesWindows h5,
.M_D20ArticlesWindows h5,
.M_D21ArticlesWindows h5,
.M_D22ArticlesWindows h5 {
  font-size: 30px;
  font-family: 'arial narrow';
  font-weight: 400;
  color: #0037ff;
}

.M_D2ArticlesWindows,
.M_BigArticle1,
.M_BigArticle2,
.M_BigArticle3,
.M_BigArticle4,
.M_BigArticle5 {
  padding: 2% 3%;
}
.M_D3ArticlesWindows,
.M_D4ArticlesWindows,
.M_D5ArticlesWindows,
.M_D6ArticlesWindows,
.M_D8ArticlesWindows,
.M_D9ArticlesWindows,
.M_D10ArticlesWindows,
.M_D11ArticlesWindows,
.M_D12ArticlesWindows,
.M_D13ArticlesWindows,
.M_D14ArticlesWindows,
.M_D15ArticlesWindows,
.M_D16ArticlesWindows,
.M_D17ArticlesWindows,
.M_D18ArticlesWindows,
.M_D19ArticlesWindows,
.M_D20ArticlesWindows,
.M_D21ArticlesWindows,
.M_D22ArticlesWindows {
  padding: 4% 3%;
}

.M_D8ArticlesWindows,
.M_D9ArticlesWindows,
.M_D10ArticlesWindows,
.M_D11ArticlesWindows,
.M_D12ArticlesWindows,
.M_D4ArticlesWindows,
.M_D13ArticlesWindows,
.M_D14ArticlesWindows,
.M_D15ArticlesWindows,
.M_D16ArticlesWindows,
.M_D17ArticlesWindows,
.M_D18ArticlesWindows,
.M_D19ArticlesWindows,
.M_D20ArticlesWindows,
.M_D21ArticlesWindows,
.M_D22ArticlesWindows {
  display: none;
}
.M_D8ArticlesWindows.visible,
.M_D9ArticlesWindows.visible,
.M_D10ArticlesWindows.visible,
.M_D11ArticlesWindows.visible,
.M_D4ArticlesWindows.visible,
.M_D12ArticlesWindows.visible,
.M_D13ArticlesWindows.visible,
.M_D14ArticlesWindows.visible,
.M_D15ArticlesWindows.visible,
.M_D16ArticlesWindows.visible,
.M_D17ArticlesWindows.visible,
.M_D18ArticlesWindows.visible,
.M_D19ArticlesWindows.visible,
.M_D20ArticlesWindows.visible,
.M_D21ArticlesWindows.visible,
.M_D22ArticlesWindows.visible {
  display: flex;
  cursor: default;
}

.M_Lemons {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 50vh;

  margin-bottom: 20%;
}

/* _____________________________websites_____________________________ */

.M_DRubricators {
  width: 100%;
  height: fit-content;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  background: linear-gradient(
    180deg,
    #ffffff 41.83%,
    #7390f7 80.77%,
    #274aca 96.15%
  );
  box-shadow: 3px 4px 9px 1px #192966cc;
  border-radius: 50px;

  padding: 0 2% 1%;
  flex: 1;
  z-index: 30;
}
.M_DRubricators a {
  width: 20%;
  gap: 2%;
}
.M_DRubricators p,
.M_DRubricators a {
  text-decoration: none;
  color: #0037ff;
  font-size: 40px;
  font-weight: 400;
}

.M_DSitesTeaserImage,
.M_DMemesTeaserImage {
  box-sizing: border-box;
  display: flex;
  width: 95%;
  aspect-ratio: 1 / 1;
  border-radius: 12%;

  background: linear-gradient(180deg, #f9fbfe 15.38%, #4267eb 82.69%);
  box-shadow:
    6.08px 6.08px 6.08px 0px #557aff inset,
    8.52px 8.52px 8.52px 0px #00000040;

  padding: 5%;
  margin: 2% auto;
}

.M_DSitesTeaserImageInner,
.M_DMemesTeaserImageInner {
  width: 100%;
  height: 100%;
  border-radius: 10%;
  background-size: cover;
  background-position: center;
  background-color: white;
}

/* _____________________________tests_____________________________ */

.M_TestTeaserContent {
  width: 80%;
  display: flex;
  flex-direction: column;
}

/* _____________________________test_____________________________ */

.M_DProgressBar {
  width: 100%;
  height: 100px;
  background-color: #3c34db;
  margin-bottom: 2%;
}
.M_AnswerMassage {
  width: 100%;

  border-bottom-right-radius: 28.66px;
  border-bottom-left-radius: 28.66px;

  background: linear-gradient(
    180deg,
    #ffffff 41.83%,
    #7390f7 80.77%,
    #274aca 96.15%
  );
  box-shadow: 3.74px 4.98px 11.22px 1.25px #192966cc;
}

.M_TestResult {
  max-width: 80%;
  padding-left: 2%;
  padding: 2%;
  text-align: left;
  color: #0037ff;
  max-height: 40vh;

  margin: 10% auto 0;
  position: relative;
}

.M_TestResultCountMolecule {
  width: 100%;
  background: linear-gradient(180deg, #ffffff 48.49%, #0037ff 135.28%);
  padding: 1%;

  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.M_DProgressBar {
  position: relative;
  width: 90%;
  margin: 0 auto 2%;
  height: 60px;
  background: linear-gradient(
    90deg,
    #ff0000 9.84%,
    #ffa622 35.6%,
    #ffea00 62.24%,
    #00ff00 96.18%
  );

  border-radius: 50px;
  margin-bottom: 7%;
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.2);
}
