/* _____________________________index page, archive page, interactive_____________________________ */

.O_MAboutProject,
.O_MYellowNote {
  display: none;
}
.O_DAboutProject {
  background-image: url(../../images/Q.DMAINWINDOW.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left top;
  width: 60%;
  aspect-ratio: 2/1;
  padding: 2%;
  box-sizing: border-box;
  margin-top: 4%;
}

.O_DAboutProject h1 {
  color: #0037ff;
  font-weight: 700;
  font-size: 40px;
  padding: 0 0 4%;
}
.O_DAboutProject p {
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: -1.1%;
  color: #0037ff;
  padding-right: 26%;
}
.O_DYellowNote {
  margin-top: 8%;
}

.O_DYellowNote,
.O_DYellowNoteArch,
.O_DMiniYellowNote {
  background-image: url(../../images/Q.DYELLOWNOTE.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left top;
  width: 58%;
  aspect-ratio: 1.6/1;
  padding: 2%;
  box-sizing: border-box;
}
.O_DMiniYellowNote {
  background-image: url(../../images/Q.DMINIYELLOWNOTE.svg);
  width: 100%;
}
.O_DMiniYellowNote h1 {
  color: black;
  font-weight: 700;
  font-size: 40px;
  font-style: italic;
  font-family: 'arial narrow italic';

  line-height: 150%;
  letter-spacing: -1.1%;
  padding: 10% 10% 0 5%;
}
.O_DYellowNote h1,
.O_DYellowNoteArch h1 {
  color: black;
  font-weight: 700;
  font-size: 40px;
  font-style: italic;
  font-family: 'arial narrow italic';
  padding: 0 0 6%;
}
.O_DYellowNote p,
.O_DYellowNoteArch p {
  font-weight: 700;
  font-size: 18px;
  line-height: 170%;
  letter-spacing: -1.1%;
  font-family: 'arial narrow italic';
  font-style: italic;
  color: black;
  padding-right: 14%;
}

.O_IndexAboutArchive {
  width: 90%;
  position: relative;
  top: 5%;
  left: 5%;
  display: flex;
  justify-content: space-between;

  flex-direction: row;
  align-items: center;

  margin: 2% 0 10%;
}

.O_Footer {
  background-image: url(../../images/backgr-footer.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: initial;
  height: 360rem;
  position: relative;
  margin-top: 0;
  z-index: 10;
  bottom: 0;
}
/* _____________________________archive_____________________________ */

.O_ArchiveAbout {
  width: 100%;
  position: relative;
  top: 5%;
  margin: 0 5% 11%;
  display: flex;
  justify-content: space-between;

  flex-direction: row;
  align-items: first baseline;
}

/* _____________________________interactive_____________________________ */

.O_InteractiveAbout {
  width: 100%;
  height: fit-content;
  position: relative;
  top: 5%;
  margin: 10% 2% 0 5%;
  display: flex;
  justify-content: space-between;
  gap: 8%;

  z-index: 12;
  flex-direction: row;
  align-items: center;
}

.O_DInteractiveWindows {
  width: 65%;
}
.O_DInteractiveWindow1,
.O_DInteractiveWindow2 {
  background-image: url(../../images/Q.INTERACTIVEWINDOW.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  width: 100%;
  height: fit-content;
  margin-bottom: 14%;
}
.O_DInteractiveWindow1 h1,
.O_DInteractiveWindow2 h1 {
  color: #0037ff;
  font-weight: 700;
  font-size: 40px;
  font-family: 'arial narrow';
  padding: 2% 2% 4%;
}
.O_DInteractiveWindow1 p,
.O_DInteractiveWindow2 p {
  color: #0037ff;
  font-weight: 700;
  font-size: 14px;
  font-family: 'arial narrow';

  line-height: 150%;
  letter-spacing: -1.1%;
  padding: 2% 5% 2% 2%;
}

/* _____________________________about us_____________________________ */

.O_DBlueNote {
  background-image: url(../../images/Q.DBLUENOTE.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  position: relative;
  width: 62%;
  aspect-ratio: 1.31/1;
  margin: 5% auto 6%;

  z-index: 2;
}

.O_DBlueNote h1 {
  font-size: 50px;
  font-family: 'arial narrow';
  font-style: italic;
  font-weight: 700;
  color: #0037ff;

  padding: 4% 4%;
}
.O_DBlueNote p {
  font-size: 22px;
  font-family: 'arial narrow';
  font-style: italic;
  line-height: 150%;
  letter-spacing: -1.1%;
  font-weight: 700;
  color: #0037ff;

  padding: 4% 30% 0 4%;
}

.O_DOurScoials {
  background-image: url(../../images/Q.DSOCIALSWINDOW.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  position: relative;
  width: 72%;
  aspect-ratio: 1.77/1;
  margin: 0 auto;

  margin-bottom: 12%;

  z-index: 2;
}
.O_DOurScoials h2 {
  font-size: 40px;
  font-family: 'arial narrow';
  font-weight: 400;
  color: #0037ff;
  text-align: center;

  padding: 3%;
}

.O_DTeam {
  background-image: url(../../images/Q.DSOCIALSWINDOW.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  position: relative;
  width: 72%;
  aspect-ratio: 1.77/1;
  margin: 0 auto;

  z-index: 2;
}

/* _____________________________articles_____________________________ */

.O_ArticleRead {
  position: relative;
  width: 100%;

  background: linear-gradient(90.04deg, #ffffff 30.93%, #0037ff 158.72%);
  border: 20px solid #dedcff;
  border-radius: 36px;

  margin: 5% 3% 5% 0;
  padding: 1.5% 3% 3% 1.5%;

  height: fit-content;
}
.O_ArticleRead h5 {
  font-family: 'arial narrow';
  color: #0037ff;
  font-size: 30px;
  font-weight: 400;
  line-height: 110%;
}

.O_ArticleRead2,
.O_ArticleRead3,
.O_ArticleRead4,
.O_ArticleRead5,
.O_ArticleRead6,
.O_ArticleRead7,
.O_ArticleRead8,
.O_ArticleRead9,
.O_ArticleRead10,
.O_ArticleRead11,
.O_ArticleRead12,
.O_ArticleRead13,
.O_ArticleRead14,
.O_ArticleRead15,
.O_ArticleRead16 {
  display: none;
}

.O_ArticleRead1 {
  display: block;
}

/* _____________________________test_____________________________ */

.O_DTest {
  position: relative;
  width: 70%;

  margin: 0 auto;
}

/* _____________________________game_____________________________ */

.O_PlayGame {
  flex: 1;
  display: flex;
  justify-content: center;
}

.O_PlayGame1,
.O_PlayGame2 {
  position: relative;
  width: 110%;
  height: 75vh;

  background: linear-gradient(180deg, #f9fbfe 15.38%, #245bdc 82.69%);
  box-shadow:
    12.87px 12.87px 12.87px 0px #557aff inset,
    18.01px 18.01px 18.01px 0px #00000040;

  border-radius: 92px;
  z-index: 2;
}

.O_PlayGame1 iframe,
.O_PlayGame2 iframe {
  width: 90%;
  height: 96%;
  margin: 2% 5%;

  padding: 0 5% 5% 5%;
  box-sizing: border-box;
}
.O_PlaygameFrame {
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 10vh;
  top: -2%;

  border-top-left-radius: 92px;
  border-top-right-radius: 92px;

  background: linear-gradient(180deg, #f9fbfe 15.38%, #245bdc 82.69%);
  box-shadow: 18.01px 18.01px 18.01px 0px #00000040;
}
